.section-category-list{
    display: block;
min-height: 302px;
background: #fbfbfb;
}
.shopee-header-section__header{
    background: #fff;
height: 3.75rem;
border-bottom: 1px solid rgba(0,0,0,.05);
padding: 0 1.25rem;
display: flex;
align-items: center;
}
.shopee-header-section{
    margin: 0 100px;
padding-top: 1.25rem;
}
.shopee-header-section__header p{
    margin: 0;
    color: rgba(0,0,0,.54);
font-weight: 500;
font-size: 1.25rem;
text-transform: uppercase;
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-ms-flex: 1;
flex: 1;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-right: 1.25rem;
}
.shopee-header-section__content{
    width: 100%;
height: 100%;
position: relative;
display: flex;
}
.image-carousel__item-list{
    display: flex;
position: relative;
height: 100%;
padding: 0;
margin: 0;
list-style: none;
}
.image-carousel__item{
    padding: 0px;
width: 10%;
overflow-x: unset !important;
align-self: center;
overflow-x: hidden;
list-style: none;
float: left;
}
.home-category-list__group{
    text-decoration: none;
color: rgba(0,0,0,.8);
display: block;
width: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
height: 100%;
}
a.home-category-list__category-grid{
    
    text-decoration: none;
color: rgba(0,0,0,.8);
border-right: 1px solid rgba(0,0,0,.05);
border-bottom: 1px solid rgba(0,0,0,.05);
text-align: center;
background-color: #fff;
display: block;
position: relative;
transition: transform .1s cubic-bezier(.4,0,.6,1),box-shadow .1s cubic-bezier(.4,0,.6,1),-webkit-transform .1s cubic-bezier(.4,0,.6,1);
}
.home-category-list__category-grid img{
    flex: 1;
    width: 83px;
    height: 76px;
    margin: 10%;
}
.home-category-list__category-grid p{
    width: 90%;
overflow: hidden;
height: 2.5rem;
margin-bottom: .625rem;
text-align: center;
color: rgba(0,0,0,.8);
font-size: .875rem;
text-decoration: none;
line-height: 1.25rem;
max-height: 2.5rem;
word-break: break-word;
overflow: hidden;
display: -webkit-box;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
}