<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template shopee</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
    
    <!-- My CSS -->
    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="../style/index.css">


</head>
<body>
    <div id="main-login">
        <div class="wrapper-login">
            <nav class="header">
                <div class="container">
                    <a href="#" class="caption-login">
                        <img class="image-login-market" src="../assets/images/marketplace.png" alt="">
                        <div class="login">Login</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="wrapper-content">
            <div class="container">
                <div class="wrapper-image-content">
                    <img src="../assets/images/marketplace.png" alt="">
                </div>
                <div class="wrapper-form-login">
                    <form action="">
                        <div class="wrapper-form">
                            <div class="header-form">
                                <div class="headline-login">Login</div>
                                <div class="caption-login">
                                    <span>baru di Shopee?</span>
                                    <a href="./daftar.html">Daftar</a>
                                </div>
                            </div>
                            <div class="input-form">
                                <div class="input-form-email">
                                    <input class="input-email" type="text" class="email" placeholder="No. Handphone/Username/Email" name="loginKey" autocomplete="on" max-length="128">
                                </div>
                                <div class="input-form-pasword">
                                    <input class="input-password" type="password" placeholder="Password" max-length="16" name="password">
                                </div>
                                <a href="./index.html" class="btn-login">LOGIN</a>
                                <div class="lupa-password">
                                    <a class="lupa-pass" href="">Lupa Password</a>
                                    <a href="">Log in dengan SMS</a>
                                </div>
                                <div class="wrapper-footer-form-login">
                                    <div class="wrapper-atau">
                                        <div class="garis"></div>
                                        <span class="atau">ATAU</span>
                                        <div class="garis"></div>
                                    </div>
                                    <div class="wrapper-login-social-media">
                                        <button class="btn-facebook">
                                            <img src="../assets/images/facebook-kecil.png" alt="">
                                            <span>Facebook</span>
                                        </button>
                                        <button class="btn-google">
                                            <img src="../assets/images/google-ini.jpg" alt="">
                                            <span>Google</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <!-- Footer -->
    <footer>
        <div class="wrapper-link">
            <div class="wrapper-footer-akhir">
                <div class="container-link">
                    <div class="layanan-pelanggan">
                        <p>LAYANAN PELANGGAN</p>
                        <ul>
                            <li><a href="">Bantuan</a></li>
                            <li><a href="">Pembayaran</a></li>
                            <li><a href="">Lacak Pesanan Pembeli</a></li>
                            <li><a href="">Gratis Ongkir</a></li>
                            <li><a href="">Pengembalian Barang & Dana</a></li>
                            <li><a href="">Garansi</a></li>
                            <li><a href="">Hubungi Kami</a></li>
                        </ul>
                    </div>
                    <div class="layanan-jelajah">
                        <p>JELAJAHI SHOPEE</p>
                        <ul>
                            <li><a href="">Tentang Kami</a></li>
                            <li><a href="">Karir</a></li>
                            <li><a href="">Kebijakan Privasi</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Kontak Media</a></li>
                    </div>
                    <div class="layanan-pembayaran">
                        <p>PEMBAYARAN</p>
                        <ul>
                            <li><a href=""><img src="../assets/images/bcs.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/bni.jpg" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/bri-bank.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/cimb-niaga.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/MANDIRI-1-500x250.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/kredivo.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/alfa.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/indomaret.jpg" alt=""></a></li>
                        </ul>

                        <div class="headline-pengiriman">
                            <p>PENGIRIMAN</p>
                        </div>
                        <ul>
                            <li><a href=""><img src="../assets/images/shopee-express.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/jnt.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/jne-express.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/ninja-espress.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/sicepat.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/grab-express.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/gosend.png" alt=""></a></li>                   
                        </ul>
                    </div>
                    <div class="layanan-ikuti-kami">
                        <p>IKUTI KAMI</p>
                        <ul>
                            <li><a href=""><img src="../assets/images/facebook-kecil.png" alt="">Facebook</a></li>
                            <li><a href=""><img src="../assets/images/instagram-kecil.png" alt="">Instagram</a></li>
                            <li><a href=""><img src="../assets/images/twitter-kecil.png" alt="">Twitter</a></li>
                            <li><a href=""><img src="../assets/images/line-kecil.png" alt="">Line</a></li>
                            <li><a href=""><img src="../assets/images/linkedin-kecil.jpg" alt="">Linkedin</a></li>
                    </div>
                    <div class="layanan-download-aplikasi">
                        <p>DOWNLOAD APLIKASI</p>
                        <ul>
                            <!-- <li><a href=""><img src="../assets/images/bcs.png" alt="">Facebook</a></li> -->
                            <li><a href=""><img src="../assets/images/download-on-the-app-store-apple-logo-png-transparent.png" alt=""></a></li>
                            <li><a href=""><img src="../assets/images/google-play.png" alt=""></a></li>
                    </div>
                    
                
                </div>
                <div class="copyright">
                    <div class="hak-cipta">© Shopee 2020. Hak Cipta Dilindungi</div>
                    <div class="negara-daftar">
                        <div class="headline-negara">Negara:</div>
                        <div class="caption-negara"><a href="">Singapura</a></div>
                        <div class="caption-negara"><a href="">Indonesia</a></div>
                        <div class="caption-negara"><a href="">Taiwan</a></div>
                        <div class="caption-negara"><a href="">Thailand</a></div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    </div>
</body>
</html>